VITE_SUPABASE_URL=https://hmdhtuopiydrrmqgalqd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtZGh0dW9waXlkcnJtcWdhbHFkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIzMjkwMDMsImV4cCI6MjA5NzkwNTAwM30.XMTuV2FGOhm_LYZ3d0PsEPsy_i_FFfewYRdI0dLV9eM
